.list-item {
    border: none;
    background: orange;
    padding: 0;


}

.list-item:nth-of-type(2n) {
    background: gray
}

.text {
    max-width: 90%;
}

.item-success {
    opacity: 0.8;
}

.custom-control-input {
    cursor: pointer;
}

.card-item {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: inherit;
}