.list-item {
    border: none;
    background: orange;
    display: flex;
    justify-content: space-between;


}

.list-item:nth-of-type(2n) {
    background: gray
}

.text {
    max-width: 90%;
}

.item-success {
    opacity: 0.8;
}

.custom-control-input {
    cursor: pointer;
}